* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #667bc6;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-slide h2 {
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
button:hover {
  color: rgb(245, 20, 20);
}

button {
  position: absolute;
  left: 30%;
  top: 50%;
  z-index: 100;
  font-size: 20px;
  padding: 10px;
}

.slider-container .buttons {
  position: absolute;
  left: 30%;
  top: 50%;
  z-index: 100;
}

.slider-container .buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 10px;
}

.slider-container .buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 10px;
}
